// Typography
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$body-background: hsl(217, 54%, 11%);
$card-background: hsl(216, 50%, 16%);
$border-color: hsl(215, 32%, 27%);
$font-color: hsl(0, 0%, 100%);
$font-family: 'Outfit', sans-serif;
$font-size: 22px;

// Layouts
$mobile-bp: 375px;
$mobile-horz-bp: 750px;
$card-width: 350px;
$card-height: 600px;
$border-radius: 15px;
$base-spacing: 24px;